*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    /* margin-top: 10px; */
    /* margin-left: 30px; */
}
.container h1{
    margin-left: 100px;
    font-size: 2.5rem;
    /* font-family:serif; */

}
.container h1 i{
    font-size: 33px;
    padding-right: 10px;
    color: red;
}
.container h1 span{
    color: red;
}
.container .links a{
    text-decoration: none;
    color: black;
    margin-left: 22px;
    font-size: 1.2rem;

}
.container .links .first{
    color: red;
}
.container .btn{
    color: white;
    background-color: red;
    /* padding: 10px; */
    font-weight: bold;
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1rem;
    border: none;
    border-radius: 40px;
    margin-right: 100px;
}
.container .btn:hover{
    color: red;
    background: white;
    transition: all ease 1s;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 1.2rem;
    
}

#article{
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(30, 4, 7, 0.7)), url(pastasalads.avif);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 85vh;
}
#article .container{
    background: black;
    color: white;
}
#article .container .links a.first{
    color: red;
}
#article .container .links a{
    color: white;
}
#article .container .links a:hover{
    color: red;
    transition: all 0.5s;
}
#article .text{
    color: white;
    text-align: center;
    padding-top: 100px;
}
#article .text h2{
    margin-bottom: 11px;
    font-size: 4rem;
    font-weight: 900;
}
#article .text p{
    font-size: 25px;
    font-weight: 100;
    color: rgb(223, 222, 222);
}

.menues{
    margin-top: 20vh;
    width: 100%;
    height: 100vh;
}
.menues .text h2{
    font-size: 3rem;
    padding-bottom: 10px;
    font-weight: 900;
    text-align: center;
}
.menues .text p{
    font-size: 28px;
    color: rgb(57, 56, 56);
    text-align: center;
}
.menue{
     display: flex; 
     justify-content: space-around;
     margin-top: 30px;
}
.menues .menu .box{
    display: flex;
    /* margin-top: 10px; */
    padding: 10px;
    /* margin: 20px; */
    /* align-items: center; */
}
.menues .menu .box .text{
    margin-left: 25px;
}
.menu .box .text h3{
    padding-bottom: 10px;
    font-size: 1.2rem;
    margin-top: 10px;
    color: #FC791A;

}
.menu .box .text h3 span{
    /* color:rgb(57, 56, 56); */
    /* font-size: 10px; */
    font-weight: 100;
    color: #ef924f;
}
.menu .box .text p{
   font-size: 20px;
   text-align: left;
}


footer{
    background:linear-gradient(rgba(21, 8, 18, 0.7),rgba(58, 14, 19, 0.7)),black;
    width: 100%;
    height: 93vh;
    position: absolute;
    top: 200vh;
    display: flex;
    
} 
footer .text{
    color: white;
     margin: 70px;
     /* margin-top: 20px; */
     padding-top: 50px;

}
footer .text h2{
    padding-bottom: 20px;
    color: #FC791A;
    font-size: 19px;
}
footer .text p{
padding-bottom: 19px;
    font-size: 18px;
    line-height: 24px;

}
footer .text button{
    background: black;
    color: #FC791A;
    border: none;
}
footer .qoraal{
    color: white;
    margin-bottom: 40px;
    /* text-align: center; */
    margin: 70px;
    padding-top: 50px;
    /* padding-bottom: 20px; */
}
footer .qoraal h2{
   padding-bottom: 20px;
   font-size: 19px;
   color: #FC791A;
}
footer .qoraal .box{
    display: flex;
    margin-bottom: 20px;
    /* text-align: center; */
}
footer .qoraal .box p{
    padding-left: 12px;
    line-height: 25px;
    font-size: 17px;
}
footer .qoraal .box p span{
    font-size: 13px;
    color: rgb(121, 115, 115);
    /* margin-top: 3px; */
}


footer .message{
    color: white;
    margin-top: 125px;
    margin-bottom: 20px;
}
/* footer .message .qoral{
    padding-bottom: 20px;
} */
footer .message h2{
    color: #FC791A;
    font-size: 19px;
    padding-bottom: 20px;
}
footer .message .qoral p{
    padding-bottom: 28px;
    font-size: 16px;
}
footer .message .qoral p span{
    color: #FC791A;
    font-size: 20px;
    padding-right: 19px;
}

